@import "tailwindcss";

:root {
  --background: rgb(3, 3, 20);
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(3, 3, 20);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav-option[title]:hover::after {
    content: attr(title);
    font-size: 14px;
    color: white;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 0%;
 }