@import "tailwindcss";

:root {
  --background: rgb(3, 3, 20);
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(3, 3, 20);
    --foreground: #ededed;
  }
}

body {
  background: #ededed;
  color: var(--foreground);
  font-family: Tahoma ,Arial, Helvetica, sans-serif;
}

.nav-option[title]:hover::after {
    content: attr(title);
    font-size: 14px;
    color: white;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 0%;
 }

 .appearse {
  animation: blockse  5s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

@keyframes blockse {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  } 
}

@media screen and (max-width:768px){
  .nav-option[title]:hover::after{
    content: ''
  }
}